# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
.env
release/
.pytest_cache/
# Node.js
node_modules/
dist/
build/
print_test/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# BarTender / Print Jobs
print_jobs/*.xml
print_jobs/*.tmp
print_jobs/*.txt

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.png
*.jpg
# OS
.DS_Store
Thumbs.db

# Scratch directory
backend_v2/scratch/

